<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>ADEDOYIN</title>
            <!-- Link to Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <!-- Link to your custom CSS file -->
            <link rel="stylesheet" type="text/css" href="css/style.css">
        </head>

        <body>

<!-- About Me Section -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
            <img src="../images/DSC_9824.JPG" alt="aboutme" class="img-fluid mb-3">
        </div>
        <div class="col-md-6 order-md-1">
            <div class="box">
                <h2>About Me</h2>
                <p class="mb-4 mb-md-0">I'm Josephine, a passionate full-stack programmer and tech copywriter. I'm a tech enthusiast who loves to code and write. I'm skilled in Python, Django, Bootstrap, HTML, CSS, and JavaScript. I hold a degree in Software Engineering, with a focus on backend development, from ALX. I also enjoy creating tech content for blogs and businesses. I'm dedicated to learning and staying up-to-date in this ever-evolving field.</p>
                <a href="http://127.0.0.1:5501/testimonial.html" class="btn btn-info btn-lg rounded-pill">Testimonial</a>
            </div>
        </div>
    </div>
</div>

<!-- Services Section -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="../images/white.JPG" alt="services" class="img-fluid mb-3">
        </div>
        <div class="col-md-6">
            <div class="box">
                <h2>Services</h2>
                <p>I provide various services as a programmer and writer. I can build websites and make them look great. I'm good with technology like Python, Django, HTML, CSS, and JavaScript. If you need a website, a cool design, or tech content, I'm here to help. I specialize in making the behind-the-scenes part of websites work smoothly. I stay updated with the latest tech trends. Want to know more? Just click the 'Learn More' button below."</p>
                <a href="http://127.0.0.1:5501/testimonial.html" class="btn btn-info btn-lg rounded-pill">Testimonials</a>
            </div>
        </div>
    </div>
</div>


                

            <!-- Link to Bootstrap and jQuery JavaScript -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <!-- Your custom JavaScript file -->
            <script src="script.js"></script>
        </body>
    </html>